.App {
  text-align: center;
}

.card-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width:80vw;
  margin:0 auto;
 box-shadow: aquamarine;

}

.search_field{
margin:20px;
}

.margin_botton{
  margin-bottom: 0;
}


.img-size{
  width:150px;
  height: 150px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
